/*Custom styles for modern buttons */
.no-margin{ margin: 0 }

.m-btn{ border: none;}

.m-btn.transparent {
    text-shadow: #eee 0 1px 0;
    background: transparent;
}

.m-btn.transparent:hover, .m-btn.transparent:focus, .m-btn.transparent:active, .m-btn.transparent.active, .m-btn.transparent[disabled], .m-btn.transparent.disabled {
    text-shadow: none;
    background-color: #F0713A;
    background-repeat: repeat-x;
    background-image: linear-gradient(top,#FFD4C2,#F0713A);
}

.m-btn.transparent:active, .m-btn.transparent.active {
    background: #FFA500;
}

.m-btn.transparent-black {
    color: #eee;
    text-shadow: none;
    background: #222;
    background: rgba(0,0,0,0.6);
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.m-btn.transparent-black:hover, .m-btn.transparent-black:focus, .m-btn.transparent-black:active, .m-btn.transparent-black.active, .m-btn.transparent-black[disabled], .m-btn.transparent-black.disabled {
    background: #222;
    background: rgba(0,0,0,0.8);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.m-btn.transparent-black:active, .m-btn.transparent-black.active {
    background: #222;
    background: rgba(0,0,0,1);
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.m-btn.white {
    text-shadow: #eee 0 1px 0;
    background: transparent;
}

.m-btn.white:active, .m-btn.white.active {
    text-shadow: none;
    background: #fff;
}

.m-btn-group.open .dropdown-carettoggle.white, .m-btn-group.open .dropdown-toggle.white {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.m-dropdown-menu {
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.3) !important;
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.3) !important;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3) !important;
    border: none !important;
    max-width: none !important;
}

.m-dropdown-menu a {
    padding: 6px 10px 6px 30px !important;
}